* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Roboto", serif;
}

body {
  display: grid;
  grid-template-columns: 1fr 4fr;
  height: 100vh;
  width: 95%;
  margin: 0 auto;
}



.sidebar {
  background-color: rgb(43, 131, 226);
  grid-row: 1 / 6;

  display: flex;
  font-size: 1.4rem;
  color: white;
  flex-direction: column;
  gap: 3rem;
  padding-left: 2rem;
  padding-top: 1rem;
  padding-bottom: 3rem;



}

.sidebar ul {
  display: grid;
  list-style: none;
  gap: 1rem;
  justify-content: start
}

.header {
  display: grid;
  grid-column: 2 /span 3;
  background-color: white;
  grid-template-columns: 2fr 1fr;
  padding: 1rem 1rem;
}

.main-content {

  grid-row: 2 / 6;
  grid-column: 2 / span 3;
  background-color: rgb(221, 221, 222);
}

svg {
  width: 25px;
  height: 25px;
}

li {
  display: flex;
  align-items: center;
  gap: 15px;
}

.dashboard {
  font-weight: 500;
  font-size: 1.8rem;
}

.dashboard svg,
.bell svg {
  width: 35px;
  height: 35px;
}

.search {
  display: flex;
  gap: 1.5rem;

}

input {
  width: 70%;
  padding: 10px;
  border-radius: 50px;
  background-color: rgb(221, 221, 222);
  border: none;
  outline: none;

}

.header-col1 {
  margin-left: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 3rem;
}

.header-col1 svg {
  width: 35px;
  height: 35px;
}

.morgan {
  display: flex;
  align-items: end;
  gap: 1.5rem;
  font-size: 1.4rem;
  font-weight: 500;
}

.morgan svg {
  width: 50px;
  height: 50px;
}

.header-col2 {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: 3rem;
}

.bell {
  display: flex;
  align-items: center;
  gap: 2rem;
  font-size: 1.3rem;
  font-weight: 500;
}

.buttons {
  display: flex;
  gap: 2rem;
  font-size: 1.3rem;

}

a {
  text-decoration: none;
  padding: 10px 2rem;
  background-color: rgb(43, 131, 226);
  color: white;
  border-radius: 25px;
}

.main-content {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 2rem;
  padding-bottom: 3rem;
  overflow: auto;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  gap: 2rem;
  margin-left: 2rem;
  margin-top: 3rem;
}

.project {
  height: 13rem;
  background-color: white;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 8px;
  border-left: 8px solid orange;

}

.icons {
  display: flex;
  justify-content: end;
  gap: 1rem;
}

.project p::first-line {
  font-weight: 700;

}

.main-col2 {
  display: flex;
  flex-direction: column;

  justify-content: space-around
}

.cont,
.cont2 {
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 1rem;
  border-radius: 8px;

  width: 80%;
}